@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
/*srikanthmiryala*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100vw;
    font-weight: 600;
    font-size: 18px;
    font-family: sans-serif;
}

/* Small Screen NavBar Css*/
.small-screen-list li a:hover {
    height: 2px;
    color: #fff3b0;
    text-decoration: underline;
    width: 100%;
}

.small-screen-list li {
    display: none;
}

/* Big  Screen Css*/
li:hover .small-screen-list li {
    display: block;
}

.big-screen-nav li a:hover {
    height: 2px;
    color: #fff3b0;
    width: 100%;
}

.big-screen-nav {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #e46161;
    height: 50px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.HomeImage {
    width: 50%;
}

.menuImage {
    height: 25px;
    float: right;
    margin-right: 10px;
}

.MainContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-image: linear-gradient(to right, #fff3b0, #ee6ad8);
}

.HeadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 30px;
    padding: 45px;
    width: 50%;
}

.MainHeading {
    font-size: 45px;
    font-family: sans-serif;
    letter-spacing: 6px;
    font-weight: bold;
}

.MainParaGraph {
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 40px;
}

.Btn1 {
    background-color: #e46161;
    width: 150px;
    height: 38px;
    border-style: none;
    color: bisque;
    box-shadow: 5px 5px 5px gray;
    align-items: center;
}

.SubContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;

    background-image: linear-gradient(to right, #fff3b0, #ee6ad8);
}

.CardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #e46161;
    box-shadow: 5px 5px 5px gray;
    padding: 20px;
    height: 200px;
    width: 500px;
}

.image1 {
    margin: 20px;
    width: 250px;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    margin: 25px;
    margin-top: 40px;
}

.imageContainer1 {
    display: flex;
    flex-direction: row;
}

.imageContainer2 {
    display: flex;
    flex-direction: column;
}

.arrowSize {
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

.clickContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5px;
}

.CardHeading {
    font-family: sans-serif;
    font-size: 45px;
    letter-spacing: 5px;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 15px;
}

.subHeading {
    font-family: sans-serif;
    margin-left: 25px;
}

@media (min-width: 700px) {
    .SmallHomeImage {
        display: none;
    }

    .small-screen-nav {
        display: none;
    }
}

@media (max-width: 952px) {
    .MainHeading {
        font-size: 18px;
    }

    .MainParaGraph {
        font-size: 15px;
        margin-top: 8px;
    }

    .HomeImage {
        height: 480px;
    }

    .image1 {
        margin: 20px;
        width: 200px;
    }

    .CardContainer {
        width: 450px;
    }
}

@media (max-width: 750px) {
    .big-screen-nav {
        display: none;
    }

    .HomeImage {
        display: none;
    }

    .NavBar {
        flex-direction: column;
    }

    .SmallHomeImage {
        width: 100%;
        height: 400px;
    }

    .MainContainer {
        flex-direction: column;
    }

    .HeadingContainer {
        width: 100%;
    }

    .HeadingContainer {
        align-items: center;
        padding: 10px;
        margin: 10px;
    }

    .MainHeading {
        font-size: 18px;
    }

    .MainParaGraph {
        font-size: 10px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .Btn1 {
        width: 100px;
        height: 20px;
        font-size: 10px;
    }

    .image1 {
        margin: 10px;
        width: 180px;
    }

    .CardContainer {
        width: 350px;
        height: 180px;
    }

    .CardHeading {
        font-size: 30px;
    }

    .subHeading {
        font-size: 16px;
    }

    .menu {
        display: none;
    }

    .menuBtn {
        background-color: transparent;
        outline: none;
        border: none;
        text-align: center;
        width: 100px;
    }

    .NavBar {
        flex-direction: column;
    }

    .small-screen-nav {
        display: flex;
        flex-direction: column;
        background-color: #e46161;
    }

    .small-screen-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px;
    }

    li {
        margin: 15px;
    }

    #smallScreenList {
        display: none;
    }
}

#smallScreenList:hover {
    display: block;
}
